/* Modification des styles natifs */
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Empêche les débordements horizontaux */
}

a {
    text-decoration: none;
    color: inherit; 
}

a:hover {
    text-decoration: underline;
    color: #7A90A4;
}

/* Styles principaux du site */
.siteContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh; /* Minimum pour occuper toute la fenêtre */
    height: auto; /* Autoriser l'extension verticale */
    /*overflow-y: auto; /* Permet le défilement si nécessaire */
}

.siteHeader {
    display: flex;
    width: 100vw;
    background-color: #00334A;
    top: 0;
}

.siteFooter {
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100vw; 
    background-color: #00334A;
    color: white;
    text-align: center;
    padding: 2px 0;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); 
    font-family: Arial, sans-serif; 
    font-size: 2vh;
}

/* Style du menu de navigation */
.mainTitle {
    flex: 1;
    font-size: 4vh;
    margin-left: 4%;
    color: white;
}

.navigationMenu {
    flex: 6;
    display: flex;
    margin: 0px 20px;
    justify-content: left;
    align-items: center;
}

.buttonMenu {
    margin: 5px 8px; 
    padding: 5px 10px; 
    border: 2px solid #00334A; 
    border-radius: 8px; 
    background-color: #f0f0f0; 
    color: #00334A;
    font-family: 'Helvetica', sans-serif; 
    font-size: 3vh; 
    text-align: center; 
    white-space: nowrap;
    cursor: pointer;
    transition: all 0.3s ease; 
}

.buttonMenu:hover {
    background-color: #82CFD8; 
    color: black;
    transform: scale(1.05);
}

.buttonMenu:active {
    transform: scale(0.95);
    background-color: #ccc;
}

/* Styles pour les tableaux */
.mainTable {
    display: flex;
    justify-content: center;
    width: 90vw;
    
}

table {
    max-width: 100%;
    border-collapse: collapse;
    margin: 20px 0; 
    font-size: 18px; 
    text-align: left; 
    align-items: center;
    border-radius: 15px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px; 
}

th {
    background-color: #00334A;
    color: white;
    text-transform: uppercase; 
}

tr:nth-child(even) {
    background-color: #B8CBD0;
}

tr:hover {
    background-color: #9CD2D5;
}

/* Styles pour le formulaire */
form {
    display: flex;
    flex-wrap: wrap; /* Gère les débordements horizontaux */
    align-items: center; /* Aligne les éléments verticalement */
    justify-content: flex-start; /* Aligne les éléments à gauche */
    gap: 10px; /* Espacement entre les éléments */
    padding: 10px;
    background-color: #f9f9f9; /* Couleur de fond pour distinguer le formulaire */
    border: 1px solid #ccc; /* Bordure discrète */
    border-radius: 8px; /* Coins arrondis */
    margin-bottom: 20px; /* Espacement sous le formulaire */
    margin-top: 1%;
}

form label {
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
}

form input[type="text"],
form input[type="number"],
form select {
    flex: 1 1 auto; /* Les champs s'adaptent à l'espace disponible */
    min-width: 120px; /* Largeur minimale */
    max-width: 200px; /* Largeur maximale */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="id"] {
    flex: 1 1 auto; /* Les champs s'adaptent à l'espace disponible */
    min-width: 60px; /* Largeur minimale */
    max-width: 80px; /* Largeur maximale */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    flex: 0 0 auto; /* Évite que les boutons se redimensionnent automatiquement */
    min-width: 80px; /* Largeur minimale */
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    background-color: #007FA9; /* Couleur principale */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #82CFD8; /* Couleur plus foncée au survol */
}

form button:active {
    background-color: #82CFD8; /* Couleur encore plus foncée lors du clic */
}

form button[name="date_filter"] {
    margin-left: 5px;
}
